/* Barra de progreso */
.progress-bar-container {
    width: 100%;
    height: 8px;
    background-color: #e5e7eb;
    border-radius: 5px;
    margin-top: 8px;
}

.progress-bar {
    height: 100%;
    background-color: #4A90E2; /* El color de la barra */
    border-radius: 5px;
}

/* Estilos para el modal de cursos */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Aseguramos que la sección rendimiento ocupe todo el espacio */
#rendimiento {
    height: 100%;
    overflow-y: auto;
}
